<!doctype html>
<html lang="en" ng-app="ng-frrst">

<head>
    <meta charset="utf-8">
    <title>Dyrektywy i przyklad z ng-repeat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.js"></script>
    <script>
        var myModule = angular.module("ng-frrst", [])

        myModule.controller("ToJestController", function($scope) {
            $scope.toJestObiekt = {
                param: "to jest text znajdujacy sie w paramie obiektu",
                tablica: [1, 2, 3, 4, 5, 6],
                currElementInModel: 0
            };

            $scope.addNewElement = function() {
                $scope.toJestObiekt.tablica.push($scope.toJestObiekt.currElementInModel);
            }
        });

    </script>
</head>

<body>

    <h1>Dyrektywy i przyklad z ng-repeat: 17</h1>


    <div ng-controller="ToJestController">
        <h2>
            {{ toJestObiekt.param }}
        </h2>

        <div ng-repeat="item in toJestObiekt.tablica track by $index">
            kolejny element tablicy: {{ item }}
        </div>

        <input ng-model="toJestObiekt.currElementInModel">
        <button class="btn btn-primary" ng-click="addNewElement()">Add</button>
    </div>



</body>

</html>
